{% load static %}

<!DOCTYPE HTML>
<!--
	Spatial by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ChessTacticsTrainer</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{% static 'css/landing.css' %}" />
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header" class="alt">
				<nav id="nav">
					<ul>
						<li><a href="/login">Login</a></li>
						<li><a href="/register">Register</a></li>
					</ul>
				</nav>
			</header>

			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Banner -->
			<section id="banner">
				<h2>Chess Tactics Trainer</h2>
				<p>A personalized tactical training tool <br /> for all your professional chess improvement</p>
				<ul class="actions">
					<li><a href="/register" class="button special big">Register</a></li>
					<li><a href="/try-without-account" class="button special big">Try the interface</a></li>
				</ul>
			</section>

			<!-- One -->
				<section id="one" class="wrapper style1">
					<div class="container 75%">
						<div class="row 200%">
							<div class="6u 12u$(medium)">
								<header class="major">
									<h2>Chess Tactics Trainer</h2>
									<p>A Free, personalized, and encapsulated training tool</p>
								</header>
							</div>
							<div class="6u$ 12u$(medium)">
								<p>Have you ever wanted a special location for you to practice your tactical vision? If you already have one, is it free? If it is free, do you have the capability to view your progress in tactical categories and choose categories to work on?</p>
								<p>Chances are that you have answered at least one of these questions with a "No," but don't worry! The Chess Tactics Trainer offers all the capabilities you would want as a professional chess player for free! Register now!</p>
							</div>
						</div>
					</div>
				</section>

			<!-- Two -->
				<section id="two" class="wrapper style2 special">
					<div class="container">
						<header class="major">
							<h2>Developed by 2021sbonam</h2>
							<p>TJHSST Computer Systems Research Laboratory Project</p>
						</header>
					</div>
				</section>
		<!-- Footer -->
			<footer id="footer">
				<div class="container">
					<ul class="icons">
						<li><a href="#" class="icon fa-facebook"></a></li>
						<li><a href="#" class="icon fa-twitter"></a></li>
						<li><a href="#" class="icon fa-instagram"></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; 2021sbonam </li>
						<li>Template: SPATIAL by <a href="http://templated.co">TEMPLATED</a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>