{% load static %}

{% if darkmode == True %}
  {% include 'navbardark.html' %}
{% else %}
  {% include 'navbar.html' %}
{% endif %}


<h1 style="margin-left: 10px">Training</h1>

<link rel="stylesheet"
href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
crossorigin="anonymous">

<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% if darkmode %}
<style type="text/css">
    .highlight-white {
      background-color: rgb(107, 107, 221);
    }
    .highlight-black {
      background-color: rgb(107, 107, 221);
    }
</style>
{% else %}
<style type="text/css">
    .highlight-white {
      background-color: rgba(0, 0, 255, 0.5);
      box-shadow: inset 0 0 3px 3px blue;
    }
    .highlight-black {
      background-color: rgba(0, 0, 255, 0.5);
      box-shadow: inset 0 0 3px 3px blue;
    }
</style>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        function getCookie(c_name) {
            if(document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if(c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if(c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }

        $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });
        });
    })
</script>
<body>
    <div>
        <div>
            <div style="display: flex; height: 795px;">
                <div style="width: 40%; margin-left: 10px; margin-right: 20px; clear:both">
                    <div id="myBoard"></div>
                    <div style="text-align: center">
                        <button id="begin" class="btn btn-primary" style="margin-top: 10px"  disabled onClick="begin()"><<</button>
                        <button id="lastmove" class="btn btn-primary" style="margin-top: 10px" disabled onClick="lastmove()"><</button>
                        <button id="nextmove" class="btn btn-primary" style="margin-top: 10px" disabled onClick="nextmove()">></button>
                        <button id="end" class="btn btn-primary" style="margin-top: 10px" disabled onClick="end()">>></button>
                    </div>
                </div>
                
    
                {% if darkmode %}
                <div class="shadow-lg jumbotron jumbotron-fluid bg-dark text-white" style="flex-grow: 1; margin-right:10px">
                {% else %}
                <div class="shadow-lg jumbotron jumbotron-fluid" style="flex-grow: 1; margin-right:10px">
                {% endif %}
                    <div id="info" class="container" style="font-size: 20px; position:absolute;">
                        <h3> Game Information </h3>
                        <p id="status"></p>
                        <p id="fen"></p>
                        <p id="pgn"></p>
                        <p id="timer"><strong>Time Spent: </strong>00:00:00</p>
                        <p id="classifications" style="visibility: hidden;"><strong>Classifications:</strong> (Will appear once the tactic is completed)</p>
                        <div style="text-align: center;">
                            <iframe id="analysis_board" width="500px" height="300px" style="border:none;"></iframe>
                        </div>
                        <div style="position: absolute; text-align: center; left: 0%; right: 0%; bottom:-80px;">
                            
                            <button id="start" class="btn btn-outline-primary" onclick="getTactic()" style="font-size: 50px; vertical-align: bottom;">Start Solving</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <piecetype id='piecetype' class={{pieces}}></piecetype>
            <script src="{% static 'js/tactics.js' %}"></script>
        </div>
    </div>
</body>