{% load static %}

{% if darkmode == True %}
  {% include 'navbardark.html' %}
{% else %}
  {% include 'no_auth_home/navbar_no_auth.html' %}
{% endif %}


<h1 style="margin-left: 10px">Training</h1>

<link rel="stylesheet"
href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css"
integrity="sha384-q94+BZtLrkL1/ohfjR8c6L+A6qzNH9R2hBLwyoAfu3i/WCvQjzL2RQJ3uNHDISdU"
crossorigin="anonymous">

<script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"
integrity="sha384-8Vi8VHwn3vjQ9eUHUxex3JSN/NFqUg3QbPyX8kWyb93+8AC/pPWTzj+nHtbC5bxD"
crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.2/chess.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

{% if darkmode %}
<style type="text/css">
    .highlight-white {
      background-color: rgb(107, 107, 221);
    }
    .highlight-black {
      background-color: rgb(107, 107, 221);
    }

    /* The Modal (background) */
    .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    }

    .modal-promotion-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 30%; /* Could be more or less, depending on screen size */
    border-radius: 5px;
    }

    /* The Close Button */
    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .close:hover,
    .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    } 

    .closePromotion {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    }

    .closePromotion:hover,
    .closePromotion:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
    } 

</style>
{% else %}
<style type="text/css">
    .highlight-white {
      background-color: rgba(0, 0, 255, 0.5);
      box-shadow: inset 0 0 3px 3px blue;
    }
    .highlight-black {
      background-color: rgba(0, 0, 255, 0.5);
      box-shadow: inset 0 0 3px 3px blue;
    }
</style>
{% endif %}

<script type="text/javascript">
    $(document).ready(function() {
        function getCookie(c_name) {
            if(document.cookie.length > 0) {
                c_start = document.cookie.indexOf(c_name + "=");
                if(c_start != -1) {
                    c_start = c_start + c_name.length + 1;
                    c_end = document.cookie.indexOf(";", c_start);
                    if(c_end == -1) c_end = document.cookie.length;
                    return unescape(document.cookie.substring(c_start,c_end));
                }
            }
            return "";
        }

        $(function () {
            $.ajaxSetup({
                headers: {
                    "X-CSRFToken": getCookie("csrftoken")
                }
            });
        });
    })
</script>
<body>
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
          <div class="row vertical-divider" style="margin-top: 15px">
            <div class="col-xs-6" style="margin-left: 10px">
                <h1 style='color:black'>New Classification</h1>
                <p>Do you think there should be an additional tactical motif added to this list?</p>
                <p>If so, please select one from the dropdown: </p>
                <form id="update-class-form" class="form-inline" action="/update-classifications">
                  {% csrf_token %}
                  <input id='update-class-fen' type='hidden' name='fen' value=''/>
                  <select id='addclass' name="addclass" class="custom-select form-control" style="margin-right: 10px">
                      <option value='ATTACKING F2/F7'>Attacking f2/f7</option>
                      <option value='BACK RANK'>Back rank</option>
                      <option value='CHECKMATE'>Checkmate</option>
                      <option value='CLEARANCE SACRIFICE'>Clearance Sacrifice</option>
                      <option value='DEFLECTION'>Deflection</option>
                      <option value='DEFENSE'>Defense</option>
                      <option value='DESPERADO'>Desperado</option>
                      <option value='DISCOVERED ATTACK'>Discovered Attack</option>
                      <option value='DISCOVERED CHECK'>Discovered Check</option>
                      <option value='ENDGAME TACTIC'>Endgame Tactic</option>
                      <option value='FORK'>Fork</option>
                      <option value='HANGING PIECE'>Hanging Piece</option>
                      <option value='INTERFERENCE'>Interference</option>
                      <option value='MATING NET'>Mating Net</option>
                      <option value='OVERLOADING'>Overloading</option>
                      <option value='PROMOTION'>Promotion</option>
                      <option value='PERPETUAl CHECK'>Perpetual Check</option>
                      <option value='PIN'>Pin</option>
                      <option value='REMOVE THE DEFENDER'>Remove the Defender</option>
                      <option value='SACRIFICE'>Sacrifice</option>
                      <option value='SIMPLIFICATION'>Simplification</option>
                      <option value='SKEWER'>Skewer</option>
                      <option value='STALEMATE'>Stalemate</option>
                      <option value='TRAPPED PIECE'>Trapped Piece</option>
                      <option value='UNDERPROMOTION'>Underpromotion</option>
                      <option value='WINDMILL'>Windmill</option>
                      <option value='X-RAY ATTACK'>X-Ray Attack</option>
                      <option value='ZUGZWANG'>Zugzwang</option>
                  </select>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p id="update-class-result"></p>
            </div>
            <div class="col-xs-6" style="margin-left: 15px">
                <h1 style='color:black'>Remove Classification</h1>
                <p>Do you think a tactical motif should be removed from this list?</p>
                <p>If so, please select one from the dropdown: </p>
                <form id="remove-class-form" class="form-inline" action="/update-classifications">
                  {% csrf_token %}
                  <input id='remove-class-fen' type='hidden' name='fen' value=''/>
                  <select id='removeclass' name="removeclass" class="custom-select form-control" style="margin-right: 10px">
                      <option value='ATTACKING F2/F7'>Attacking f2/f7</option>
                      <option value='BACK RANK'>Back rank</option>
                      <option value='CHECKMATE'>Checkmate</option>
                      <option value='CLEARANCE SACRIFICE'>Clearance Sacrifice</option>
                      <option value='DEFLECTION'>Deflection</option>
                      <option value='DEFENSE'>Defense</option>
                      <option value='DESPERADO'>Desperado</option>
                      <option value='DISCOVERED ATTACK'>Discovered Attack</option>
                      <option value='DISCOVERED CHECK'>Discovered Check</option>
                      <option value='ENDGAME TACTIC'>Endgame Tactic</option>
                      <option value='FORK'>Fork</option>
                      <option value='HANGING PIECE'>Hanging Piece</option>
                      <option value='INTERFERENCE'>Interference</option>
                      <option value='MATING NET'>Mating Net</option>
                      <option value='OVERLOADING'>Overloading</option>
                      <option value='PROMOTION'>Promotion</option>
                      <option value='PERPETUAl CHECK'>Perpetual Check</option>
                      <option value='PIN'>Pin</option>
                      <option value='REMOVE THE DEFENDER'>Remove the Defender</option>
                      <option value='SACRIFICE'>Sacrifice</option>
                      <option value='SIMPLIFICATION'>Simplification</option>
                      <option value='SKEWER'>Skewer</option>
                      <option value='STALEMATE'>Stalemate</option>
                      <option value='TRAPPED PIECE'>Trapped Piece</option>
                      <option value='UNDERPROMOTION'>Underpromotion</option>
                      <option value='WINDMILL'>Windmill</option>
                      <option value='X-RAY ATTACK'>X-Ray Attack</option>
                      <option value='ZUGZWANG'>Zugzwang</option>
                  </select>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </form>
                <p id="remove-class-result"></p>
            </div>
          </div>
        </div>
      
    </div>
    <div id="promotion-dialog" class="modal">
        <div class="modal-promotion-content">
            <span class="closePromotion" style='cursor: pointer;'>&times;</span>
            <div class="btn-group" role="group" aria-label="Basic example">
                <button id='promoteQueen' type="button" class="btn btn-outline-primary"><span class="piece-name"></span><img class="promotion-piece-q promotion-piece"/></button>
                <button id='promoteRook' type="button" class="btn btn-outline-primary"><span class="piece-name"></span><img class="promotion-piece-r promotion-piece"/></button>
                <button id='promoteKnight' type="button" class="btn btn-outline-primary"><span class="piece-name"></span><img class="promotion-piece-n promotion-piece"/></button>
                <button id='promoteBishop' type="button" class="btn btn-outline-primary"><span class="piece-name"></span><img class="promotion-piece-b promotion-piece"/></button>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div style="display: flex; height: 795px;">
                <div style="width: 40%; margin-left: 10px; margin-right: 20px; clear:both">
                    <div id="myBoard"></div>
                    <div style="text-align: center">
                        <button id="begin" class="btn btn-primary" style="margin-top: 10px"  disabled onClick="begin()"><<</button>
                        <button id="lastmove" class="btn btn-primary" style="margin-top: 10px" disabled onClick="lastmove()"><</button>
                        <button id="nextmove" class="btn btn-primary" style="margin-top: 10px" disabled onClick="nextmove()">></button>
                        <button id="end" class="btn btn-primary" style="margin-top: 10px" disabled onClick="end()">>></button>
                    </div>
                </div>
                
    
                {% if darkmode %}
                <div class="shadow-lg jumbotron jumbotron-fluid bg-dark text-white" style="flex-grow: 1; margin-right:10px">
                {% else %}
                <div class="shadow-lg jumbotron jumbotron-fluid" style="flex-grow: 1; margin-right:10px">
                {% endif %}
                    <div id="info" class="container" style="font-size: 20px; position:absolute;">
                        <h3> Game Information </h3>
                        <p id="status"></p>
                        <p id="fen"></p>
                        <p id="pgn"></p>
                        <p id="timer"><strong>Time Spent: </strong>00:00:00</p>
                        <p id="classifications_no_auth" style="visibility: hidden;"><strong>Classifications:</strong> You must login to see this!</p>
                        <div style="text-align: center;">
                            <iframe id="analysis_board" width="500px" height="300px" style="border:none;"></iframe>
                        </div>
                        <div style="position: absolute; text-align: center; left: 0%; right: 0%; bottom:-80px;">
                            
                            <button id="start" class="btn btn-outline-primary" onclick="getTactic()" style="font-size: 50px; vertical-align: bottom;">Start Solving</button>
                        </div>
                        <br>
                    </div>
                </div>
            </div>
            <piecetype id='piecetype' class={{pieces}}></piecetype>
            <script src="{% static 'js/tactics_noauth.js' %}"></script>
        </div>
    </div>
</body>