@font-face {
    font-family: Poppins-Regular;
    src: url('../font/poppins/Poppins-Regular.ttf'); 
}
  
@font-face {
    font-family: Poppins-Bold;
    src: url('../font/poppins/Poppins-Bold.ttf'); 
}
  
@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font/poppins/Poppins-SemiBold.ttf'); 
}

body {
    height: 100%;
    background-color: #131313;
}

p, label, button, input, select, canvas {
    font-family: Poppins-Regular;
}

p, label {
    color: white;
}

.form-control:valid {
    background-color:  black!important;
    color:white;
}

h1, h2, h3, h4 {
    font-family: Poppins-SemiBold;
    color: white;
}

strong {
    font-family: Poppins-Bold;
}