@font-face {
    font-family: Poppins-Regular;
    src: url('../font/poppins/Poppins-Regular.ttf'); 
}
  
@font-face {
    font-family: Poppins-Bold;
    src: url('../font/poppins/Poppins-Bold.ttf'); 
}
  
@font-face {
    font-family: Poppins-SemiBold;
    src: url('../font/poppins/Poppins-SemiBold.ttf'); 
}

body {
    height: 100%;
    background-color: #d2d9db;
    /* background: radial-gradient(80% 40%, #8c838d, white); */
}

p, button, input, select, canvas {
    font-family: Poppins-Regular;
}

h1, h2, h3, h4 {
    font-family: Poppins-SemiBold;
}

strong {
    font-family: Poppins-Bold;
}